In [1]:
import numpy as np
import pandas as pd
import os 
import glob

# Retrieve incidence data for 2020

In [102]:
files_2020 = glob.glob('/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/*')

In [15]:
files_2020

['/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.7.21.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.8.20.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.6.25.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.6.18.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.8.6.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.7.9.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.7.30.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.8.13.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.7.15.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.7.9.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.8.6.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.7.21.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.6.18.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.6.25.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.8.20.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.7.1.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.7.30.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.9.9harvest.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.7.15.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/pm longscout.8.13.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.longscout.7.1.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2020/dm.harvest.9.9.csv']

In [16]:
test = pd.read_csv(files_2020[0])
test.head()

,Date,Block,Row,Panel,Vine,PM_inc,PM_severity,DM_inc,DM_severity,Phom_incd,Phom_Severity,Other
0,21-Jul,DM,7,1,3,0,0,10,0.20,0,0.0,0
1,21-Jul,DM,8,1,3,0,0,10,0.20,0,0.0,10
2,21-Jul,DM,7,2,2,0,0,20,0.55,0,0.0,10
3,21-Jul,DM,8,2,2,0,0,15,0.75,0,0.0,0
4,21-Jul,DM,7,3,2,0,0,20,0.85,0,0.0,5

In [18]:
subset = test[['Date', 'Block', 'Row', 'Panel', 'PM_inc', 'DM_inc']]
subset
subset.DM_inc.max()

100

In [19]:
all_2020 = pd.DataFrame()
for file in files_2020:
    df = pd.read_csv(file)
    all_2020 = pd.concat([all_2020, df])

all_2020

,Date,Block,Row,Panel,Vine,PM_inc,PM_severity,DM_inc,DM_severity,Phom_incd,Phom_Severity,Other,Unnamed: 12,Vime #,Treatment,Vine #,% Severity,DM_Severity
0,21-Jul,DM,7,1,3.0,0.0,0.0,10.0,0.20,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,21-Jul,DM,8,1,3.0,0.0,0.0,10.0,0.20,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,21-Jul,DM,7,2,2.0,0.0,0.0,20.0,0.55,0.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
3,21-Jul,DM,8,2,2.0,0.0,0.0,15.0,0.75,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,21-Jul,DM,7,3,2.0,0.0,0.0,20.0,0.85,0.0,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,9-Sep,DM,10,5,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2 & 3,NaN,0.60
60,9-Sep,DM,10,4,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2 & 3,NaN,0.95
61,9-Sep,DM,10,3,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2 & 3,NaN,0.80
62,9-Sep,DM,10,2,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,NaN,15.0,2 & 3,NaN,10.60
63,9-Sep,DM,10,1,NaN,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,2 & 3,NaN,2.05

In [62]:
inc_2020 = all_2020[['Date', 'Block', 'Row', 'Panel', 'PM_inc', 'DM_inc']]

In [63]:
inc_2020

      Date Block  Row  Panel  PM_inc  DM_inc
0   21-Jul    DM    7      1     0.0    10.0
1   21-Jul    DM    8      1     0.0    10.0
2   21-Jul    DM    7      2     0.0    20.0
3   21-Jul    DM    8      2     0.0    15.0
4   21-Jul    DM    7      3     0.0    20.0
..     ...   ...  ...    ...     ...     ...
59   9-Sep    DM   10      5     NaN    10.0
60   9-Sep    DM   10      4     NaN    20.0
61   9-Sep    DM   10      3     NaN    20.0
62   9-Sep    DM   10      2     NaN    80.0
63   9-Sep    DM   10      1     NaN    25.0

[1174 rows x 6 columns]

In [64]:
print(inc_2020.Date.unique())
print(len(inc_2020.Date.unique()))

['21-Jul' '20-Aug' '25-Jun' '18-Jun' '6-Aug' '9-Jul' '30-Jul' '13-Aug'
 '15-Jul' '1-Jul' '9-Sep']
11

In [24]:
# Open scout_2020 df (cleaned)

clean_2020 = pd.read_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_2020_gdf.csv')
clean_2020

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid
0,2020-06-18,1,1,5.0,PM,0.0,0.00,0.00,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145)
1,2020-06-18,1,2,9.0,PM,0.0,0.05,5.05,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654)
2,2020-06-18,1,4,18.0,PM,0.0,0.00,0.50,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055)
3,2020-06-18,1,5,6.0,PM,0.0,0.00,15.10,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546)
4,2020-06-18,1,6,2.0,PM,0.0,0.00,5.65,"POLYGON ((-77.01570014425 42.878381989255075, ...",POINT (-77.01574402030295 42.87839504362453)
...,...,...,...,...,...,...,...,...,...,...
1167,2020-09-09,10,12,20.0,DM,0.0,11.75,23.50,POLYGON ((-77.01622795901153 42.87870217016852...,POINT (-77.01626982030344 42.878714948636684)
1168,2020-09-09,10,13,8.0,DM,0.0,0.20,0.40,"POLYGON ((-77.0163147390058 42.87871901016951,...",POINT (-77.01635581030357 42.87873143863867)
1169,2020-09-09,10,14,32.0,DM,0.0,9.50,19.00,"POLYGON ((-77.0163999390002 42.87873515017044,...",POINT (-77.01644346530357 42.878748438640656)
1170,2020-09-09,10,15,2.0,DM,0.0,58.00,100.00,POLYGON ((-77.0164900489943 42.878753010171465...,POINT (-77.01652978530375 42.878765158642686)
1171,2020-09-09,10,16,16.0,DM,0.0,2.30,4.60,POLYGON ((-77.01657257898884 42.87876859017239...,POINT (-77.01661900030383 42.87878192864474)

In [29]:
print(clean_2020.Date.unique())
print(len(clean_2020.Date.unique()))

['2020-06-18' '2020-06-25' '2020-07-01' '2020-07-09' '2020-07-15'
 '2020-07-21' '2020-07-30' '2020-08-06' '2020-08-13' '2020-08-20'
 '2020-09-09']
11

In [43]:
# Convert date to proper format

from datetime import datetime

date_string = "21-Jul"

date_object = str('2020-')+ datetime.strptime(date_string, "%d-%b").strftime('%m-%d')
print(date_object)

2020-07-21

In [65]:
# Convert all dates in incidence df to proper format

inc_2020.Date

0     21-Jul
1     21-Jul
2     21-Jul
3     21-Jul
4     21-Jul
       ...
59     9-Sep
60     9-Sep
61     9-Sep
62     9-Sep
63     9-Sep
Name: Date, Length: 1174, dtype: object

In [66]:
def dd_mmm_to_yyyymmdd(date):
    date_string = date
    date_object = str('2020-')+ datetime.strptime(date_string, "%d-%b").strftime('%m-%d')
    
    return(date_object)

In [49]:
dd_mmm_to_yyyymmdd("21-Jul")

'2020-07-21'

In [72]:
inc_2020['Date']=inc_2020['Date'].apply(dd_mmm_to_yyyymmdd)

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/911336470.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inc_2020['Date']=inc_2020['Date'].apply(dd_mmm_to_yyyymmdd)

In [74]:
inc_2020['Date'].unique()

array(['2020-07-21', '2020-08-20', '2020-06-25', '2020-06-18',
       '2020-08-06', '2020-07-09', '2020-07-30', '2020-08-13',
       '2020-07-15', '2020-07-01', '2020-09-09'], dtype=object)

In [77]:
inc_2020.head()

         Date Block  Row  Panel  PM_inc  DM_inc
0  2020-07-21    DM    7      1     0.0    10.0
1  2020-07-21    DM    8      1     0.0    10.0
2  2020-07-21    DM    7      2     0.0    20.0
3  2020-07-21    DM    8      2     0.0    15.0
4  2020-07-21    DM    7      3     0.0    20.0

In [78]:
clean_2020.head()

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid
0,2020-06-18,1,1,5.0,PM,0.0,0.00,0.00,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145)
1,2020-06-18,1,2,9.0,PM,0.0,0.05,5.05,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654)
2,2020-06-18,1,4,18.0,PM,0.0,0.00,0.50,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055)
3,2020-06-18,1,5,6.0,PM,0.0,0.00,15.10,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546)
4,2020-06-18,1,6,2.0,PM,0.0,0.00,5.65,"POLYGON ((-77.01570014425 42.878381989255075, ...",POINT (-77.01574402030295 42.87839504362453)

In [86]:
# merge dataframes

merged_inner = pd.merge(left=clean_2020, right=inc_2020, 
                        left_on=['Date','Row','Panel','Block'], 
                        right_on=['Date','Row','Panel','Block'])

print("merged df shape:", merged_inner.shape)
print("clean_2020 df shape:", clean_2020.shape)
print("inc_2020 df shape:", inc_2020.shape)

merged df shape: (1250, 12)
clean_2020 df shape: (1172, 10)
inc_2020 df shape: (1174, 6)

In [97]:
drop_dup = merged_inner.drop_duplicates(subset=['Date','Row','Panel','Block'])
drop_dup.shape

(1134, 12)

In [98]:
drop_dup.head()

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid,PM_inc,DM_inc
0,2020-06-18,1,1,5.0,PM,0.0,0.00,0.00,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145),0.0,0.0
1,2020-06-18,1,2,9.0,PM,0.0,0.05,5.05,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654),0.0,5.0
2,2020-06-18,1,4,18.0,PM,0.0,0.00,0.50,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055),0.0,0.0
3,2020-06-18,1,5,6.0,PM,0.0,0.00,15.10,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546),0.0,0.0
4,2020-06-18,1,6,2.0,PM,0.0,0.00,5.65,"POLYGON ((-77.01570014425 42.878381989255075, ...",POINT (-77.01574402030295 42.87839504362453),0.0,0.0

In [99]:
#drop_dup.to_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_incidence/scout_inc_2020.csv',
               # index=False)

# 2021
For 2021, we need to get the DM incidence (use top ratings) and PM incidence separately.

Then, merge the DM and PM incidence dfs with the 2021 img_scout_df.

In [145]:
files_2021 = glob.glob('/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2021/*')

test = pd.read_csv(files_2021[0])
test.head()

,Date,Treatment,Disease,Row,Panel,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,6/24/21,5.0,DM Top,1.0,1,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6/24/21,5.0,DM Bot,1.0,1,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6/24/21,5.0,PM,1.0,1,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6/24/21,5.0,Other,1.0,1,2.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6/24/21,7.0,DM Top,1.0,2,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
test.columns

Index(['Date', 'Treatment', 'Disease', 'Row ', 'Panel ', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41'],
      dtype='object')

In [147]:
test.columns[5:25]

Index(['leaf_1', 'leaf_2', 'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7',
       'leaf_8', 'leaf_9', 'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13',
       'leaf_14', 'leaf_15', 'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19',
       'leaf_20'],
      dtype='object')

In [148]:
test = test.dropna(how='all', axis=1)

In [149]:
test = test.dropna(how='all')

In [150]:
test

,Date,Treatment,Disease,Row,Panel,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_11,leaf_12,leaf_13,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20
0,6/24/21,5.0,DM Top,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6/24/21,5.0,DM Bot,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6/24/21,5.0,PM,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6/24/21,5.0,Other,1.0,1,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6/24/21,7.0,DM Top,1.0,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,6/24/21,3.0,Other,20.0,13&14,2.0,1.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
956,6/24/21,23.0,DM Top,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
957,6/24/21,23.0,DM Bot,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
958,6/24/21,23.0,PM,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
959,6/24/21,23.0,Other,20.0,15&16,1.0,3.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [157]:
# Filter to just DM Top

just_dm = test[test['Disease']=='DM Top']
just_dm

,Date,Treatment,Disease,Row,Panel,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_11,leaf_12,leaf_13,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20
0,6/24/21,5.0,DM Top,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6/24/21,7.0,DM Top,1.0,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,6/24/21,9.0,DM Top,1.0,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,6/24/21,15.0,DM Top,1.0,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,6/24/21,3.0,DM Top,1.0,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,6/24/21,35.0,DM Top,20.0,7&8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
944,6/24/21,27.0,DM Top,20.0,9&10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
948,6/24/21,11.0,DM Top,20.0,11&12,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
952,6/24/21,3.0,DM Top,20.0,13&14,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
956,6/24/21,23.0,DM Top,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [158]:
just_dm=just_dm.reset_index(drop=True)

In [159]:
np.count_nonzero(just_dm.iloc[238,5:25])

0

In [160]:
# Add column for non-zero count

just_dm['DM_inc'] = ''
np.arange(len(just_dm['DM_inc']))

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239])

In [161]:
for i in np.arange(len(just_dm['DM_inc'])):
    just_dm['DM_inc'][i] = np.count_nonzero(just_dm.iloc[i,5:25])

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/1028958437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  just_dm['DM_inc'][i] = np.count_nonzero(just_dm.iloc[i,5:25])

In [162]:
just_dm

,Date,Treatment,Disease,Row,Panel,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_12,leaf_13,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,DM_inc
0,6/24/21,5.0,DM Top,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,6/24/21,7.0,DM Top,1.0,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,6/24/21,9.0,DM Top,1.0,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,6/24/21,15.0,DM Top,1.0,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,6/24/21,3.0,DM Top,1.0,5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,6/24/21,35.0,DM Top,20.0,7&8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
236,6/24/21,27.0,DM Top,20.0,9&10,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
237,6/24/21,11.0,DM Top,20.0,11&12,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
238,6/24/21,3.0,DM Top,20.0,13&14,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
239,6/24/21,23.0,DM Top,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [163]:
just_dm.columns

Index(['Date', 'Treatment', 'Disease', 'Row ', 'Panel ', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'DM_inc'],
      dtype='object')

In [165]:
dm_inc = just_dm[['Date', 'Treatment','Row ', 'Panel ','DM_inc']]
dm_inc.head()

      Date  Treatment  Row  Panel  DM_inc
0  6/24/21        5.0   1.0      1      0
1  6/24/21        7.0   1.0      2      0
2  6/24/21        9.0   1.0      3      0
3  6/24/21       15.0   1.0      4      0
4  6/24/21        3.0   1.0      5      0

In [184]:
all_2021 = pd.DataFrame()
for file in files_2021:
    df = pd.read_csv(file)
    all_2021 = pd.concat([all_2021, df])

all_2021.columns

Index(['Date', 'Treatment', 'Disease', 'Row ', 'Panel ', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41'],
      dtype='object')

In [185]:
all_2021 = all_2021.dropna(how='all', axis=1)
all_2021 = all_2021.dropna(how='all')
all_2021

,Date,Treatment,Disease,Row,Panel,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,Unnamed: 25,Unnamed: 35,Unnamed: 38
0,6/24/21,5.0,DM Top,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,6/24/21,5.0,DM Bot,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,6/24/21,5.0,PM,1.0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,6/24/21,5.0,Other,1.0,1,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,6/24/21,7.0,DM Top,1.0,2,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,7/27/21,3.0,Other,20.0,13&14,5.0,10.0,8.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
956,7/27/21,23.0,DM Top,20.0,15&16,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
957,7/27/21,23.0,DM Bot,20.0,15&16,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
958,7/27/21,23.0,PM,20.0,15&16,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
959,7/27/21,23.0,Other,20.0,15&16,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [186]:
dm_2021 = all_2021[all_2021['Disease']=='DM Top']
dm_2021=dm_2021.reset_index(drop=True)

In [187]:
dm_2021['DM_inc'] = ''
np.arange(len(dm_2021['DM_inc']))

array([   0,    1,    2, ..., 1953, 1954, 1955])

In [188]:
for i in np.arange(len(dm_2021['DM_inc'])):
    dm_2021['DM_inc'][i] = (np.count_nonzero(dm_2021.iloc[i,5:25]))/20*100

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/1402388632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_2021['DM_inc'][i] = (np.count_nonzero(dm_2021.iloc[i,5:25]))/20*100

In [189]:
dm_2021.columns

Index(['Date', 'Treatment', 'Disease', 'Row ', 'Panel ', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'Unnamed: 25',
       'Unnamed: 35', 'Unnamed: 38', 'DM_inc'],
      dtype='object')

In [190]:
dm_inc_2021 = dm_2021[['Date', 'Treatment','Row ', 'Panel ','DM_inc']]
dm_inc_2021.head()

      Date  Treatment  Row  Panel  DM_inc
0  6/24/21        5.0   1.0      1    0.0
1  6/24/21        7.0   1.0      2    0.0
2  6/24/21        9.0   1.0      3    0.0
3  6/24/21       15.0   1.0      4    0.0
4  6/24/21        3.0   1.0      5    0.0

In [191]:
dm_inc_2021['DM_inc'].max()

100.0

In [192]:
all_2021.Disease.unique()

array(['DM Top', 'DM Bot', 'PM ', 'Other'], dtype=object)

In [193]:
# Repeat the above for PM 

pm_2021 = all_2021[all_2021['Disease']=='PM ']
pm_2021=pm_2021.reset_index(drop=True)

pm_2021['PM_inc'] = ''
#np.arange(len(pm_2021['PM_inc']))

for i in np.arange(len(pm_2021['PM_inc'])):
    pm_2021['PM_inc'][i] = (np.count_nonzero(pm_2021.iloc[i,5:25]))/20*100

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/2244900866.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_2021['PM_inc'][i] = (np.count_nonzero(pm_2021.iloc[i,5:25]))/20*100

In [194]:
pm_2021.columns

Index(['Date', 'Treatment', 'Disease', 'Row ', 'Panel ', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'Unnamed: 25',
       'Unnamed: 35', 'Unnamed: 38', 'PM_inc'],
      dtype='object')

In [224]:
pm_inc_2021 = pm_2021[['Date', 'Treatment','Row ', 'Panel ','PM_inc']]
pm_inc_2021.head()

      Date  Treatment  Row  Panel  PM_inc
0  6/24/21        5.0   1.0      1    0.0
1  6/24/21        7.0   1.0      2    0.0
2  6/24/21        9.0   1.0      3    0.0
3  6/24/21       15.0   1.0      4    0.0
4  6/24/21        3.0   1.0      5    0.0

In [225]:
pm_inc_2021['PM_inc'].max()

100.0

In [226]:
# Now merge with img_scout_df

clean_2021 = pd.read_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_2021_gdf.csv')
clean_2021.head()

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid
0,2021-06-24,1,1,5.0,DM,0.0,0.0,0.10,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145)
1,2021-06-24,1,2,7.0,DM,0.0,0.0,0.20,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654)
2,2021-06-24,1,3,9.0,DM,0.0,0.0,0.15,POLYGON ((-77.01544069426711 42.87833411925217...,POINT (-77.01548247530272 42.87834674861851)
3,2021-06-24,1,4,15.0,DM,0.0,0.0,0.15,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055)
4,2021-06-24,1,5,3.0,DM,0.0,0.0,0.15,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546)

In [227]:
# Convert inc. dates to proper format

def mm_dd_yy_to_yyyymmdd(date):
    date_string = date
    date_object = str('2021-')+ datetime.strptime(date_string, "%m/%d/%y").strftime('%m-%d')
    
    return(date_object)

In [228]:
mm_dd_yy_to_yyyymmdd('6/24/21')

'2021-06-24'

In [229]:
pm_inc_2021['Date']=pm_inc_2021['Date'].apply(mm_dd_yy_to_yyyymmdd)

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/2792558899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2021['Date']=pm_inc_2021['Date'].apply(mm_dd_yy_to_yyyymmdd)

In [230]:
pm_inc_2021

            Date  Treatment  Row  Panel  PM_inc
0     2021-06-24        5.0   1.0      1    0.0
1     2021-06-24        7.0   1.0      2    0.0
2     2021-06-24        9.0   1.0      3    0.0
3     2021-06-24       15.0   1.0      4    0.0
4     2021-06-24        3.0   1.0      5    0.0
...          ...        ...   ...    ...    ...
1915  2021-07-27       35.0  20.0    7&8    0.0
1916  2021-07-27       27.0  20.0   9&10    0.0
1917  2021-07-27       11.0  20.0  11&12    0.0
1918  2021-07-27        3.0  20.0  13&14    0.0
1919  2021-07-27       23.0  20.0  15&16    0.0

[1920 rows x 5 columns]

In [231]:
dm_inc_2021['Date']=dm_inc_2021['Date'].apply(mm_dd_yy_to_yyyymmdd)
dm_inc_2021

ValueError: time data '2021-06-24' does not match format '%m/%d/%y'

In [232]:
# recode panels

dm_inc_2021['Panel '].replace({'11&12': 11, '9&10':9, '1&2':1, '13&14':13,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)

KeyError: 'Panel '

In [233]:
dm_inc_2021['Panel '].unique()

KeyError: 'Panel '

In [234]:
pm_inc_2021['Panel '].replace({'11&12': 11, '9&10':9, '1&2':1, '13&14':13,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/4222120929.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2021['Panel '].replace({'11&12': 11, '9&10':9, '1&2':1, '13&14':13,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)

In [235]:
pm_inc_2021['Panel '].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', 1, 3, 5, 7, 9, 11, 13, 15], dtype=object)

In [236]:
pm_inc_2021['Panel '] = pd.to_numeric(pm_inc_2021['Panel '])
dm_inc_2021['Panel '] = pd.to_numeric(dm_inc_2021['Panel '])

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/3273059582.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2021['Panel '] = pd.to_numeric(pm_inc_2021['Panel '])

KeyError: 'Panel '

In [237]:
pm_inc_2021.columns

Index(['Date', 'Treatment', 'Row ', 'Panel ', 'PM_inc'], dtype='object')

In [238]:
pm_inc_2021.rename(columns={"Panel ": "Panel", "Row ": "Row"}, inplace=True)
pm_inc_2021.columns

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/2179545677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2021.rename(columns={"Panel ": "Panel", "Row ": "Row"}, inplace=True)

Index(['Date', 'Treatment', 'Row', 'Panel', 'PM_inc'], dtype='object')

In [239]:
dm_inc_2021.rename(columns={"Panel ": "Panel", "Row ": "Row"}, inplace=True)
dm_inc_2021.columns

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_2408/464502482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_inc_2021.rename(columns={"Panel ": "Panel", "Row ": "Row"}, inplace=True)

Index(['Date', 'Treatment', 'Row', 'Panel', 'DM_inc', 'Panel'], dtype='object')

In [240]:
dm_inc_2021

            Date  Treatment   Row Panel DM_inc Panel
0     2021-06-24        5.0   1.0     1    0.0     1
1     2021-06-24        7.0   1.0     2    0.0     2
2     2021-06-24        9.0   1.0     3    0.0     3
3     2021-06-24       15.0   1.0     4    0.0     4
4     2021-06-24        3.0   1.0     5    0.0     5
...          ...        ...   ...   ...    ...   ...
1951  2021-07-27       35.0  20.0     7   15.0     7
1952  2021-07-27       27.0  20.0     9    0.0     9
1953  2021-07-27       11.0  20.0    11    5.0    11
1954  2021-07-27        3.0  20.0    13    0.0    13
1955  2021-07-27       23.0  20.0    15    5.0    15

[1956 rows x 6 columns]

In [241]:
pm_inc_2021

            Date  Treatment   Row  Panel PM_inc
0     2021-06-24        5.0   1.0      1    0.0
1     2021-06-24        7.0   1.0      2    0.0
2     2021-06-24        9.0   1.0      3    0.0
3     2021-06-24       15.0   1.0      4    0.0
4     2021-06-24        3.0   1.0      5    0.0
...          ...        ...   ...    ...    ...
1915  2021-07-27       35.0  20.0      7    0.0
1916  2021-07-27       27.0  20.0      9    0.0
1917  2021-07-27       11.0  20.0     11    0.0
1918  2021-07-27        3.0  20.0     13    0.0
1919  2021-07-27       23.0  20.0     15    0.0

[1920 rows x 5 columns]

In [250]:
dm_inc_2021_drop = dm_inc_2021.iloc[:, 0:5]
dm_inc_2021_drop

            Date  Treatment   Row  Panel DM_inc
0     2021-06-24        5.0   1.0      1    0.0
1     2021-06-24        7.0   1.0      2    0.0
2     2021-06-24        9.0   1.0      3    0.0
3     2021-06-24       15.0   1.0      4    0.0
4     2021-06-24        3.0   1.0      5    0.0
...          ...        ...   ...    ...    ...
1951  2021-07-27       35.0  20.0      7   15.0
1952  2021-07-27       27.0  20.0      9    0.0
1953  2021-07-27       11.0  20.0     11    5.0
1954  2021-07-27        3.0  20.0     13    0.0
1955  2021-07-27       23.0  20.0     15    5.0

[1956 rows x 5 columns]

In [242]:
# merge dataframes
# PM first

merged_inner_2021 = pd.merge(left=clean_2021, right=pm_inc_2021, 
                        left_on=['Date','Row','Panel','Treatment'], 
                        right_on=['Date','Row','Panel','Treatment'])

print("merged df shape:", merged_inner_2021.shape)
print("clean_2020 df shape:", clean_2021.shape)
print("inc_2020 df shape:", pm_inc_2021.shape)

merged df shape: (1920, 11)
clean_2020 df shape: (1920, 10)
inc_2020 df shape: (1920, 5)

In [243]:
merged_inner_2021

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid,PM_inc
0,2021-06-24,1,1,5.0,DM,0.00,0.0,0.10,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145),0.0
1,2021-06-24,1,2,7.0,DM,0.00,0.0,0.20,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654),0.0
2,2021-06-24,1,3,9.0,DM,0.00,0.0,0.15,POLYGON ((-77.01544069426711 42.87833411925217...,POINT (-77.01548247530272 42.87834674861851),0.0
3,2021-06-24,1,4,15.0,DM,0.00,0.0,0.15,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055),0.0
4,2021-06-24,1,5,3.0,DM,0.00,0.0,0.15,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546),0.0
...,...,...,...,...,...,...,...,...,...,...,...
1915,2021-08-17,20,7,35.0,PM,20.05,0.0,20.45,POLYGON ((-77.01605814333348 42.87891530908846...,POINT (-77.01609963030329 42.87892805863273),95.0
1916,2021-08-17,20,9,27.0,PM,0.00,NaN,0.15,POLYGON ((-77.01588341334502 42.87888258908652...,POINT (-77.0159263203032 42.87889522862877),0.0
1917,2021-08-17,20,11,11.0,PM,10.25,NaN,10.30,POLYGON ((-77.01571565335605 42.87885039908464...,POINT (-77.01575419030297 42.87886252362478),80.0
1918,2021-08-17,20,13,3.0,PM,2.60,NaN,2.75,POLYGON ((-77.01554440336733 42.87881855908271...,POINT (-77.01558717530287 42.87883104862095),70.0
1919,2021-08-17,20,15,23.0,PM,1.70,NaN,1.75,POLYGON ((-77.01536494337915 42.87878533908068...,POINT (-77.01540908530265 42.878798308616815),35.0

In [253]:
merged_inner_2021_all = pd.merge(left=merged_inner_2021, right=dm_inc_2021_drop, 
                        left_on=['Date','Row','Panel','Treatment'], 
                        right_on=['Date','Row','Panel','Treatment'])

print("merged df shape:", merged_inner_2021_all.shape)
print("clean_2021 df shape:", merged_inner_2021.shape)
print("dm_inc_2021 df shape:", dm_inc_2021_drop.shape)

merged df shape: (1956, 12)
clean_2021 df shape: (1920, 11)
dm_inc_2021 df shape: (1956, 5)

In [254]:
merged_inner_2021_all

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid,PM_inc,DM_inc
0,2021-06-24,1,1,5.0,DM,0.00,0.0,0.10,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145),0.0,0.0
1,2021-06-24,1,2,7.0,DM,0.00,0.0,0.20,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654),0.0,0.0
2,2021-06-24,1,3,9.0,DM,0.00,0.0,0.15,POLYGON ((-77.01544069426711 42.87833411925217...,POINT (-77.01548247530272 42.87834674861851),0.0,0.0
3,2021-06-24,1,4,15.0,DM,0.00,0.0,0.15,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055),0.0,0.0
4,2021-06-24,1,5,3.0,DM,0.00,0.0,0.15,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546),0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1951,2021-08-17,20,7,35.0,PM,20.05,0.0,20.45,POLYGON ((-77.01605814333348 42.87891530908846...,POINT (-77.01609963030329 42.87892805863273),95.0,0.0
1952,2021-08-17,20,9,27.0,PM,0.00,NaN,0.15,POLYGON ((-77.01588341334502 42.87888258908652...,POINT (-77.0159263203032 42.87889522862877),0.0,0.0
1953,2021-08-17,20,11,11.0,PM,10.25,NaN,10.30,POLYGON ((-77.01571565335605 42.87885039908464...,POINT (-77.01575419030297 42.87886252362478),80.0,5.0
1954,2021-08-17,20,13,3.0,PM,2.60,NaN,2.75,POLYGON ((-77.01554440336733 42.87881855908271...,POINT (-77.01558717530287 42.87883104862095),70.0,0.0
1955,2021-08-17,20,15,23.0,PM,1.70,NaN,1.75,POLYGON ((-77.01536494337915 42.87878533908068...,POINT (-77.01540908530265 42.878798308616815),35.0,0.0

In [255]:
merged_inner_2021_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1956 entries, 0 to 1955
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1956 non-null   object
 1   Row          1956 non-null   int64
 2   Panel        1956 non-null   int64
 3   Treatment    1956 non-null   float64
 4   Block        1956 non-null   object
 5   PM_severity  1955 non-null   float64
 6   DM_severity  1951 non-null   float64
 7   total_dis    1956 non-null   float64
 8   geometry     1956 non-null   object
 9   centroid     1956 non-null   object
 10  PM_inc       1956 non-null   object
 11  DM_inc       1956 non-null   object
dtypes: float64(4), int64(2), object(6)
memory usage: 198.7+ KB

In [256]:
#merged_inner_2021_all.to_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_incidence/scout_inc_2021.csv',
                             index=False)

# 2022

In [2]:
files_2022 = glob.glob('/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/*.csv')
files_2022

['/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_08_02_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_07_06_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_06_29_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_07_27_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_08_09_DM.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_06_22_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_07_20_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_07_14_FieldScouting.csv',
 '/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_08_29_DM.csv']

In [4]:
test_2022 = pd.read_csv(files_2022[0])
test_2022.head()

,Date,Row,Panel,Treatment,Disease,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_11,leaf_12,leaf_13,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20
0,8/2/2022,1,1,26,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8/2/2022,1,1,26,DM Bot,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8/2/2022,1,1,26,PM,2,2,0,5,0,...,0,0,0,0,0,0,0,0,0,0
3,8/2/2022,1,1,26,Other,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8/2/2022,1,1,26,Insect,0,0,0,5,0,...,10,2,10,5,0,0,0,0,0,5

In [5]:
# Filter to just DM Top

all_2022 = pd.DataFrame()
for file in files_2022:
    df = pd.read_csv(file)
    all_2022 = pd.concat([all_2022, df])

all_2022.columns

Index(['Date', 'Row', 'Panel', 'Treatment', 'Disease', 'leaf_1', 'leaf_2',
       'leaf_3', 'leaf_4', 'leaf_5', 'leaf_6', 'leaf_7', 'leaf_8', 'leaf_9',
       'leaf_10', 'leaf_11', 'leaf_12', 'leaf_13', 'leaf_14', 'leaf_15',
       'leaf_16', 'leaf_17', 'leaf_18', 'leaf_19', 'leaf_20', 'Unnamed: 25',
       'Rep', '% Severity'],
      dtype='object')

In [7]:
file_809 = pd.read_csv('/Users/kathleenkanaley/Documents/grapes_in_space/data_orig/data_scout_2022/2022_08_09_DM.csv')
file_809

,Date,Row,Panel,Treatment,Rep,Disease,leaf_1,leaf_2,leaf_3,leaf_4,...,leaf_11,leaf_12,leaf_13,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20
0,08/09/2022,7,1,6,1,DM,0,0,0,0,...,20,2,2,10,2,2,5,2,2,10
1,08/09/2022,7,2,12,1,DM,0,0,5,5,...,5,2,20,15,5,2,10,5,2,5
2,08/09/2022,7,3,2,1,DM,0,0,0,2,...,5,2,10,5,10,10,5,5,2,2
3,08/09/2022,7,4,8,1,DM,0,10,5,10,...,40,5,10,5,2,5,5,2,5,10
4,08/09/2022,7,5,10,1,DM,0,0,2,2,...,70,5,20,50,60,5,10,40,30,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,08/09/2022,12,12,16,4,DM,5,10,50,10,...,10,20,30,2,20,5,2,2,30,30
92,08/09/2022,12,13,23,4,DM,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
93,08/09/2022,12,14,14,4,DM,20,20,20,10,...,20,5,30,20,5,20,30,20,30,10
94,08/09/2022,12,15,20,4,DM,5,10,10,40,...,20,90,30,10,10,5,5,5,10,20
95,08/09/2022,12,16,17,4,DM,0,20,30,10,...,5,5,5,80,20,60,30,30,20,2

In [19]:
dm_only = all_2022.loc[all_2022['Disease'].isin(['DM Top', 'DM'])]

In [20]:
dm_only

,Date,Row,Panel,Treatment,Disease,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,Unnamed: 25,Rep,% Severity
0,8/2/2022,1,1,26,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
5,8/2/2022,1,2,17,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
10,8/2/2022,1,3,31,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
15,8/2/2022,1,4,3,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
20,8/2/2022,1,5,27,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,08/29/2022,12,12,16,DM,10,40,60,10,30,...,10,50,5,5,10,10,40,NaN,4.0,19.10
92,08/29/2022,12,13,23,DM,0,0,0,0,0,...,0,0,0,0,0,2,5,NaN,4.0,2.00
93,08/29/2022,12,14,14,DM,20,20,20,10,10,...,20,30,40,30,50,60,5,NaN,4.0,21.60
94,08/29/2022,12,15,20,DM,50,20,10,20,5,...,40,10,10,5,20,10,5,NaN,4.0,23.45
95,08/29/2022,12,16,17,DM,10,20,40,30,10,...,2,20,10,50,20,40,20,NaN,4.0,18.70

In [21]:
dm_only=dm_only.reset_index(drop=True)
dm_only.head()

,Date,Row,Panel,Treatment,Disease,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_14,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,Unnamed: 25,Rep,% Severity
0,8/2/2022,1,1,26,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,8/2/2022,1,2,17,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,8/2/2022,1,3,31,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
3,8/2/2022,1,4,3,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,8/2/2022,1,5,27,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [22]:
dm_only['DM_inc'] = ''
for i in np.arange(len(dm_only['DM_inc'])):
    dm_only['DM_inc'][i] = (np.count_nonzero(dm_only.iloc[i,5:25]))/20*100
dm_only.head()

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/3611350658.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_only['DM_inc'][i] = (np.count_nonzero(dm_only.iloc[i,5:25]))/20*100

,Date,Row,Panel,Treatment,Disease,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,Unnamed: 25,Rep,% Severity,DM_inc
0,8/2/2022,1,1,26,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0.0
1,8/2/2022,1,2,17,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0.0
2,8/2/2022,1,3,31,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0.0
3,8/2/2022,1,4,3,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0.0
4,8/2/2022,1,5,27,DM Top,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,0.0

In [45]:
dm_inc_2022 = dm_only[['Date', 'Treatment','Row', 'Panel','DM_inc']]
dm_inc_2022.head()
dm_inc_2022.Date.unique()

array(['8/2/2022', '7/6/22', '6/29/22', '7/27/2022', '08/09/2022',
       '6/22/22', '7/20/2022', '7/14/22', '08/29/2022'], dtype=object)

In [24]:
dm_inc_2022['DM_inc'].max()

100.0

In [27]:
all_2022.Disease.unique()

array(['DM Top', 'DM Bot', 'PM ', 'Other', 'Insect', '1', 'DM'],
      dtype=object)

In [28]:
# Repeat the above for PM 

pm_2022 = all_2022[all_2022['Disease']=='PM ']
pm_2022=pm_2022.reset_index(drop=True)

pm_2022['PM_inc'] = ''
#np.arange(len(pm_2021['PM_inc']))

for i in np.arange(len(pm_2022['PM_inc'])):
    pm_2022['PM_inc'][i] = (np.count_nonzero(pm_2022.iloc[i,5:25]))/20*100

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/2841248392.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_2022['PM_inc'][i] = (np.count_nonzero(pm_2022.iloc[i,5:25]))/20*100

In [29]:
pm_2022

,Date,Row,Panel,Treatment,Disease,leaf_1,leaf_2,leaf_3,leaf_4,leaf_5,...,leaf_15,leaf_16,leaf_17,leaf_18,leaf_19,leaf_20,Unnamed: 25,Rep,% Severity,PM_inc
0,8/2/2022,1,1,26,PM,2,2,0,5,0,...,0,0,0,0,0,0,NaN,NaN,NaN,20.0
1,8/2/2022,1,2,17,PM,0,0,0,0,2,...,0,0,0,0,0,0,NaN,NaN,NaN,5.0
2,8/2/2022,1,3,31,PM,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,15.0
3,8/2/2022,1,4,3,PM,1,15,10,0,0,...,25,0,45,75,25,0,NaN,NaN,NaN,60.0
4,8/2/2022,1,5,27,PM,0,15,50,25,25,...,20,30,0,0,0,0,NaN,NaN,NaN,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1674,7/14/22,20,7&8,8,PM,0,0,0,0,0,...,0,0,0,2,0,2,NaN,NaN,NaN,35.0
1675,7/14/22,20,9&10,28,PM,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,5.0
1676,7/14/22,20,11&12,14,PM,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,NaN,5.0
1677,7/14/22,20,13&14,30,PM,0,0,0,1,0,...,0,0,0,0,0,0,NaN,NaN,NaN,5.0
1678,7/14/22,20,15&16,3,PM,0,0,0,0,0,...,0,0,0,0,0,0,NaN,NaN,NaN,15.0

In [44]:
pm_inc_2022 = pm_2022[['Date', 'Treatment','Row', 'Panel','PM_inc']]
pm_inc_2022.head()

       Date  Treatment  Row Panel PM_inc
0  8/2/2022         26    1     1   20.0
1  8/2/2022         17    1     2    5.0
2  8/2/2022         31    1     3   15.0
3  8/2/2022          3    1     4   60.0
4  8/2/2022         27    1     5   75.0

In [32]:
# Now merge with img_scout_df

clean_2022 = pd.read_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_2022_gdf.csv')
clean_2022.head()

,Date,Row,Panel,Treatment,Block,PM_severity,DM_severity,total_dis,geometry,centroid
0,2022-06-22,1,1,26,PM,0.0,0.0,0.75,POLYGON ((-77.0152645742787 42.878300949250196...,POINT (-77.0153084903025 42.8783140936145)
1,2022-06-22,1,2,17,PM,0.0,0.0,1.05,POLYGON ((-77.01535545427274 42.87831851925121...,POINT (-77.0153965503027 42.87833067861654)
2,2022-06-22,1,3,31,PM,0.0,0.0,0.50,POLYGON ((-77.01544069426711 42.87833411925217...,POINT (-77.01548247530272 42.87834674861851)
3,2022-06-22,1,4,3,PM,0.0,0.0,0.95,POLYGON ((-77.01552730426143 42.87835065925314...,POINT (-77.01557007030289 42.87836309362055)
4,2022-06-22,1,5,27,PM,0.0,0.0,0.80,POLYGON ((-77.01561588425558 42.87836680925413...,POINT (-77.01565649030296 42.878378758622546)

In [46]:
pm_inc_2022.Date.unique()

array(['8/2/2022', '7/6/22', '6/29/22', '7/27/2022', '6/22/22',
       '7/20/2022', '7/14/22'], dtype=object)

In [47]:
# Function c/o: https://stackoverflow.com/questions/9507648/datetime-from-string-in-python-best-guessing-string-format

def get_date(s_date):
    date_patterns = ["%m/%d/%Y", "%m/%d/%y"]

    for pattern in date_patterns:
        try:
            return str('2022-')+ datetime.strptime(s_date, pattern).strftime('%m-%d')
        except:
            pass

In [48]:
pm_inc_2022['Date']=pm_inc_2022['Date'].apply(get_date)
dm_inc_2022['Date']=dm_inc_2022['Date'].apply(get_date)

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/1574371854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2022['Date']=pm_inc_2022['Date'].apply(get_date)
/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/1574371854.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_inc_2022['Date']=dm_inc_2022['Date'].apply(get_date)

In [50]:
pm_inc_2022.Date.unique()

array(['2022-08-02', '2022-07-06', '2022-06-29', '2022-07-27',
       '2022-06-22', '2022-07-20', '2022-07-14'], dtype=object)

In [51]:
dm_inc_2022.Date.unique()

array(['2022-08-02', '2022-07-06', '2022-06-29', '2022-07-27',
       '2022-08-09', '2022-06-22', '2022-07-20', '2022-07-14',
       '2022-08-29'], dtype=object)

In [52]:
dm_inc_2022['Panel'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '10&11', '14&15', '1&2', '3&4', '5&6',
       '9&10', '11&12', '7&8', '15&16', '13&14', 1, 2, 3, 4, 5, 6, 7, 8,
       9, 10, 11, 12, 13, 14, 15, 16], dtype=object)

In [53]:
pm_inc_2022['Panel'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '10&11', '14&15', '1&2', '3&4', '5&6',
       '9&10', '11&12', '7&8', '15&16', '13&14'], dtype=object)

In [59]:
# Recode panels

pm_inc_2022['Panel'].replace({'11&12': 11, '9&10':9,'10&11':10, '1&2':1, '13&14':13, '14&15':14,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)
dm_inc_2022['Panel'].replace({'11&12': 11, '9&10':9, '10&11':10,'1&2':1, '13&14':13,'14&15':14,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/4139134859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2022['Panel'].replace({'11&12': 11, '9&10':9,'10&11':10, '1&2':1, '13&14':13, '14&15':14,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)
/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/4139134859.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_inc_2022['Panel'].replace({'11&12': 11, '9&10':9, '10&11':10,'1&2':1, '13&14':13,'14&15':14,'15&16':15,'3&4':3,'7&8':7, '5&6':5}, inplace=True)

In [60]:
pm_inc_2022['Panel'] = pd.to_numeric(pm_inc_2022['Panel'])
dm_inc_2022['Panel'] = pd.to_numeric(dm_inc_2022['Panel'])

/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/3860319134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_inc_2022['Panel'] = pd.to_numeric(pm_inc_2022['Panel'])
/var/folders/hg/02pmwyy14wvgdv7n1gzwlx1w0000gn/T/ipykernel_1135/3860319134.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dm_inc_2022['Panel'] = pd.to_numeric(dm_inc_2022['Panel'])

In [65]:
pm_inc_2022.info()
dm_inc_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1679 non-null   object
 1   Treatment  1679 non-null   int64
 2   Row        1679 non-null   int64
 3   Panel      1679 non-null   int64
 4   PM_inc     1679 non-null   object
dtypes: int64(3), object(2)
memory usage: 65.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1872 non-null   object
 1   Treatment  1872 non-null   int64
 2   Row        1872 non-null   int64
 3   Panel      1872 non-null   int64
 4   DM_inc     1872 non-null   object
dtypes: int64(3), object(2)
memory usage: 73.2+ KB

In [67]:
# merge dataframes
# PM first

merged_inner_2022 = pd.merge(left=clean_2022, right=dm_inc_2022, 
                        left_on=['Date','Row','Panel','Treatment'], 
                        right_on=['Date','Row','Panel','Treatment'])

print("merged df shape:", merged_inner_2022.shape)
print("clean_2022 df shape:", clean_2022.shape)
print("dm_inc_2022 df shape:", dm_inc_2022.shape)

merged df shape: (1871, 11)
clean_2022 df shape: (1871, 10)
dm_inc_2022 df shape: (1872, 5)

In [69]:
pm_merged_inner_2022 = merged_inner_2022.merge(pm_inc_2022, how='left', on=['Date','Row','Panel','Treatment'])

print("merged df shape:", pm_merged_inner_2022.shape)
print("clean_2022 df shape:", merged_inner_2022.shape)
print("pm_inc_2022 df shape:", pm_inc_2022.shape)

merged df shape: (1871, 12)
clean_2022 df shape: (1871, 11)
pm_inc_2022 df shape: (1679, 5)

In [71]:
pm_merged_inner_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1871 entries, 0 to 1870
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         1871 non-null   object
 1   Row          1871 non-null   int64
 2   Panel        1871 non-null   int64
 3   Treatment    1871 non-null   int64
 4   Block        1871 non-null   object
 5   PM_severity  1679 non-null   float64
 6   DM_severity  1871 non-null   float64
 7   total_dis    1679 non-null   float64
 8   geometry     1871 non-null   object
 9   centroid     1871 non-null   object
 10  DM_inc       1871 non-null   object
 11  PM_inc       1679 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 190.0+ KB

In [72]:
pm_merged_inner_2022.Date.unique()

array(['2022-06-22', '2022-06-29', '2022-07-06', '2022-07-14',
       '2022-07-20', '2022-07-27', '2022-08-02', '2022-08-09',
       '2022-08-29'], dtype=object)

In [73]:
pm_merged_inner_2022.to_csv('/Users/kathleenkanaley/Desktop/grapes_from_space/data/scout/scout_incidence/scout_inc_2022.csv',
                            index=False)